//PC・タブレット：@media (min-width: 701px){ / スマホ：@media (max-width: 700px){
body{
  //body要素で他のビューファイルに行っても変わらない
  background: -moz-linear-gradient(top, $LightColor, $DarkColor);
  background: -webkit-linear-gradient(top, $LightColor, $DarkColor);
  background: linear-gradient(to bottom, $LightColor, $DarkColor);
  font-family: $mainFont;
  //ヘッダー部分
  .header{
    //ヘッダー固定
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: $DarkColor;
    color: #fff;
    @media (min-width: 701px){
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
    }
    @media (max-width: 700px){
      height: 115px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 5px;
    }
    &__left{
      @media (min-width: 701px){
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      // タイトルロゴ・検索
      @media (max-width: 700px){
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
      &__title{
        @media (min-width: 701px){
          margin: 0 auto
        }
        &--text {
          @media (min-width: 701px){
            height: 70px;
            width: 120px;
          }
          @media (max-width: 700px){
            height: 70px;
            width: 105px;
          }
          display: block;
          :hover{
            opacity: 0.5;
          }
        }
      }
      &__content{
        margin-left:2px;
      }
    }
    &__right{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media (max-width: 700px){
        width: 100%;
      }
      &__content{
        margin-right: 11px;
        text-decoration: none;
        color: white;
      }
      :hover{
        color: black;
      }
    }
  }
  // ファーストビュー====================================
  .top-wrapper {
    background-color: #ffffff;
    .view{
      @media (min-width: 701px){
        margin-top: 70px;
        height: calc(100vh - 70px);
      }
      @media (max-width: 700px){
        margin-top: 115px;
        height: calc(100vh - 115px);
      }
      width: 100%;
      background-image: image-url("backgroundimage.jpeg");
      background-size: cover;
      background-attachment: fixed;//背景画像の位置を固定。
      background-position: top 100%;//位置調整
      position: relative;
      &__content {
        position: absolute;
        height: 100%;
        // widthの割合を下げる程コンテンツが左に移動する
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        display: none;
        @media (min-width: 701px){
          &__title {
            font-size: 80px;
            color: white;
          }
          &__text {
            font-size: 24px;
            color: white;
          }
          &__btn{
            width: 400px;
            line-height: 40px;
            margin: 0 auto;
            margin-bottom: 40px;
          }
        }
        @media (max-width: 700px){
          &__title {
            font-size: 50px;
            color: white;
          }
          &__text {
            font-size: 16px;
            color: white;
          }
          &__btn{
            width: 300px;
            line-height: 30px;
            margin: 0 auto;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  //投稿一覧============================================
  .contents{
    @media (min-width: 701px){
      width: 80%;
      margin-top: 70px;
      min-width: 602px;
    }
    @media (max-width: 700px){
      width: 100%;
      margin-top: 115px;
    }
    margin: 0 auto;
    //ヘッダーの分を調整
    border: 1px solid;
    border-color: white;
    overflow-y: scroll;
    background-color: $DarkColor;
    //1つあたりのcontent=================================
    .content{
      width: 100%;
      border-bottom: 1px solid;
      border-style: none;
      margin: 0 auto;
      margin-bottom: 30px;
      &__top{
        @media (min-width: 701px){
          width: 600px;
          height: 400px;
        }
        @media (max-width: 700px){
          width: 300px;
          height: 200px;
        }
        margin: 0 auto;
        display: block;
        //画像がない時
        &--image{
          width: 100%;
          height: 100%;
          background-color: $LightColor;
          border: solid 1px;
          border-color: black;
          //背景に画像挿入
          background-image: url(japan.png);
          background-size: 64%;
          background-position: center;
          background-repeat: no-repeat; //繰り返さない指定
        }
        // 画像がある時
        &__image-contents{
          width: 100%;
          height: 100%;
          display: flex;
          //画像を折り返す
          flex-wrap: wrap;
          align-content: center;
          justify-content: center;
          background-color: $LightColor;
          // 画像が1枚の時
          &--image{
            width: 100%;
            height: 100%;
            background-color: $LightColor;
            border: solid 1px;
            border-color: black;
          }
          &--image4{
            width: 50%;
            height: 50%;
            background-color: $LightColor;
            border: solid 1px;
            border-color: black;
          }
        }
      }
      &__info{
        @media (min-width: 701px){
          width: 600px;
        }
        @media (max-width: 700px){
          width: 300px;
        }
        height: 15%;
        margin: 10px auto;
        display: flex;
        align-items: flex-end;
        &__left{
          padding-right: 10px;
          &--image{
            background-color: white;
            background-image: image-url("person.png");
            background-size: 50%;
            background-size: cover;
            height: 80px;
            width: 80px;
            border: solid 1px;
          }
        }
        &__right{
          width: 100%;
          &__top{
            line-height: 40px;
            font-weight: bold;
            @media (min-width: 701px){
              font-size: 24px;
              display: flex;
              justify-content: space-between;
            }
            @media (max-width: 700px){
              font-size: 20px;
            }
            &--title{
              text-decoration: none;
              color: $TextBlackColor;
            }
            &--date{
              color: $TextBlackColor;
              font-size: 11px;
            }
          }
          &__bottom{
            color: $TextBlackColor;
            width: 100%;
            @media (min-width: 701px){
              font-size: 16px;
              height: 60px;
              display: flex;
              &__user{
                width: 35%;
                &--Name{
                  line-height: 60px;
                  color: $TextBlackColor;
                  margin-right: 10px;
                  &--btn{
                    text-decoration: none;
                    color: $TextBlackColor;
                  }
                }
              }
              &__tag{
                width: 65%;
                display: flex;
                justify-content: flex-end;
                color: $TextBlackColor;
                font-size: 16px;
                text-align: center;
                line-height: 60px;
                .post-tag-label{
                  margin-left: 5px;
                  display: flex;
                  max-width: 51%;
                  a{
                    display: inline-block;
                    text-decoration: none;
                    line-height: 24px;
                    color: white;
                  }
                }
                .post-tag-prefecture{
                  margin-left: 5px;
                  height: 60px;
                  display: flex;
                  &__sub{
                    font-size: 16px;
                    line-height: 60px;
                    text-align: center;
                  }
                }
                .like-btn{
                  margin: 0 5px;
                  line-height: 60px;
                  text-align: center;
                  font-size: 22px;
                }
              }
            }
            @media (max-width: 700px){
              font-size: 12px;
              &__user{
                width: 100%;
                &--Name{
                  margin-bottom: 5px;
                  color: $TextBlackColor;
                  &--btn{
                    text-decoration: none;
                    color: $TextBlackColor;
                  }
                }
              }
              &__tag{
                width: 100%;
                height: 30px;
                display: flex;
                justify-content: flex-end;
                color: $TextBlackColor;
                .post-tag-label{
                  margin-left: 5px;
                  display: flex;
                  font-size: 10px;
                  line-height: 10px;
                  text-align: center;
                  max-width: 46%;
                  a{
                    display: inline;
                    text-decoration: none;
                    color: white;
                  }
                }
                .post-tag-prefecture{
                  margin-left: 5px;
                  height: 24px;
                  display: flex;
                  &__sub{
                    line-height: 24px;
                    text-align: center;
                  }
                }
                .like-btn{
                  margin: 0 5px;
                  line-height: 24px;
                  text-align: center;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      &__title{
        font-size: 30px;
        font-weight: bold;
        padding-top: 40px;
        text-align: center;
      }
    }

    //メッセージの詳細画面=====================================
    .postTitle{
      padding: 20px 0;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      //順位
      &__rank{
        font-size: 20px;
        padding: 5px 0 5px 20px;
      }
      &__content{
        font-size: 24px;
        padding: 5px 0 5px 40px;
      }
    }
    .postDate{
      font-size: 15px;
      display: flex;
      justify-content: center;
      &__updated {
        margin-left: 10px;
      }
    }
    .postAuthor{
      font-size: 15px;
      text-align: center;
    }
    //修正・削除
    .postManage{
      display: flex;
      justify-content: center;
      margin-top: 10px;
      &__edit{
        display: block;
        border-radius: 10px;
        color: #ffffff;
        padding: 0 10px;
        text-decoration: none;
        margin-right: 30px;
      }
      &__delete{
        display: block;
        border-radius: 10px;
        color: #ffffff;
        padding: 0 10px;
        text-decoration: none;
        margin-left: 30px;
      }
    }
    .postImage {
      width: 600px;
      height: 400px;
      margin: 0 auto;
      display: block;
      //画像がない時
      &--image{
        width: 100%;
        height: 100%;
        background-color: $LightColor;
        border: solid 1px;
        border-color: black;
        //背景に画像挿入
        background-image: url(japan.png);
        background-size: 64%;
        background-position: center;
        background-repeat: no-repeat; //繰り返さない指定
      }
      // 画像がある時
      &__image-contents{
        width: 100%;
        height: 100%;
        display: flex;
        //画像を折り返す
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        background-color: $LightColor;
        // 画像が1枚の時
        &--image{
          width: 100%;
          height: 100%;
          background-color: $LightColor;
          border: solid 1px;
          border-color: black;
        }
        &--image4{
          width: 50%;
          height: 50%;
          background-color: $LightColor;
          border: solid 1px;
          border-color: black;
        }
      }
    }
    //いいね
    .fa-thumbs-up {
      text-decoration: none;
      display: inline-block;
    }
    //本文
    .postContent{
      margin: 20px 20px;
      padding: 10px;
      width: calc(100% - 40px);
      min-height: 100px;
      background-color: $LightColor;
      display: block;
      font-size: 20px;
    }
    // コメント投稿、一覧
    .container {
      padding: 20px;
      .postComment {
        display: flex;
        align-items: center;
        justify-content: center;
        &__submit{
          margin-left: 10px;
        }
      }
      &__comments {
        margin: 20px 10px 0 10px;
        min-height: 100px;
        padding: 10px;
        background-color: $LightColor;
      }
    }
    //都道府県検索=============================
    &__prefecture__Form{
      margin: 10px 0;
      display: flex;
      justify-content: center;
      #tag_id{
        width: 80%;
        margin: 0 auto;
        text-align: center;
      }
    }
    .tag-index{
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  //新規投稿、編集========================================
  .postForm{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    //背景に画像挿入
    background-image: url(japan.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat; //繰り返さない指定
    &__title{
      display: block;
      width: 100%;
      height: 50px;
      margin-top: 10px;
    }
    &__content{
      display: block;
      width: 100%;
      height: 30vh;
      margin-top: 15px;
    }
    &__btn{
      display: block;
      width: 100%;
      margin: 40px auto 0;
    }
    &__tagTitle{
      margin-top: 10px;
      font-size: 16px;
    }
    &__tags{
      width: 100%;
      margin-top: 10px;
    }
    &__imageTitle{
      margin-top: 10px;
      font-size: 16px;
    }
    &__images{
      width: 100%;
      margin-top: 10px;
      border: 1px solid;
      border-color: #fff;
      #image-box{
        margin-top: 10px;
        width: 100%;
        height: 100%;
        #previews{
          height: 50%;
          img{
            width: 24.5%;
            height: 100%;
          }
        }
        #forms{
          display: flex;
          .js-file_group{
            width: 25%;
            input{
              display: none;
            }
          }
        }
      }
    }
  }
  .user{
    padding: 15px 30px;
  }
  // 検索フォーム
  .search-form {
    text-align: center;
    padding-top: 8px;
    margin: 20px 0;
    .search-input {
      width: 60%;
      margin-right: 10px;
    }
    .search-btn {
      width: 10%;
    }
  }
  //ページネーション
  .pagination{
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0;
  }
  //ログイン制限
  .not_login {
    text-align: center;
  }
}