//フォント指定
$mainFont: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

body{
  //body要素で他のビューファイルに行っても変わらない
  background: -moz-linear-gradient(top, #A8DBA8, #79BD9A);
  background: -webkit-linear-gradient(top, #A8DBA8, #79BD9A);
  background: linear-gradient(to bottom, #A8DBA8, #79BD9A);
  min-width: 750px;
  min-height: 650px;
  font-family: $mainFont;

  //ヘッダー部分
  .header{
    //ヘッダー固定
    position: fixed;
    top: 0;
    z-index: 1;
    height: 70px;
    width: 100vw;
    padding: 0 40px;
    background-color: #79BD9A;
    color: #fff;
    display: flex;
    justify-content: space-between;   
    &__title{
      &--text img{
        display: block;
        height: 70px;
        width: 150px;
      }
      :hover{
        opacity: 0.5;
      }
    }
    &__left{
      &--btn{
        display: inline-block;
        text-decoration: none;
        line-height: 70px;
        color: #fff;
        margin-left:15px;
      }
      :hover{
        opacity: 0.4;
      }
    }
    &__right{
      &--btn{
        display: inline-block;
        text-decoration: none;
        line-height: 70px;
        color: #fff;
        margin-left:15px;
      }
      :hover{
        opacity: 0.4;
      }
    }
  }
  // ファーストビュー====================================
  .top-wrapper {
    background-color: white;
    .view{
      padding-top: 70px;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background-image: url(background-image0.png);
      background-size: cover;
      background-attachment: fixed;//背景画像の位置を固定。
      background-position: top 40% right 40%;//位置調整
      opacity: 0.8;
      position: relative;
      &__content {
        height: 400px;
        &__title {
          font-size: 40px;
          color: black;
        }
        &__text {
          font-size: 20px;
          color: black;
        }
      }

      //新規orログイン
      &__user{
        // display: inline-block;
        position: absolute;
        background-color: #79BD9A;
      }
    }
  }
// .main-copy {
//   font-size: 30px;
// }

// .fv-text {
//   font-size: 18px;
//   margin-top: 10px;
// }

// .cta-btn {
//   display: inline-block;
//   width: 240px;
//   padding: 10px 0;
//   text-align: center;
//   font-size: 20px;
//   color: #fff;
//   text-decoration: none;
//   background-color: #ffa201;
//   margin-top: 40px;
//   border-radius: 27px;
// }

// .cta-btn:hover {
//   box-shadow: 0 0 10px #ffa201;
// }

  //投稿一覧============================================
  .contents{
    border: 1px solid;
    border-color: white;
    background: -moz-linear-gradient(top, #A8DBA8, #79BD9A);
    background: -webkit-linear-gradient(top, #A8DBA8, #79BD9A);
    background: linear-gradient(to bottom, #A8DBA8, #79BD9A);
    margin: 0 auto;
    //ヘッダーの分を調整
    margin-top: 70px;
    // background-color: #fff;
    height: calc(100vh - 70px); 
    width: 80vw;
    overflow-y: scroll;
    //背景に画像挿入
    background-image: url(japan.png);
    background-size: 65%;
    background-position: bottom;
    background-repeat:no-repeat; //繰り返さない指定

    //1つあたりのcontent=================================
    .content{
      width: 100%;
      height: 60vh;
      border-bottom: 1px solid;
      border-style: none;
      margin: 0 auto;
      margin-bottom: 20px;
      &__top{
        width: 600px;
        height: 85%;
        margin: 0 auto;
        &--image{
          width: 100%;
          height: 100%;
          background-color: #6088C6;
          border: solid 1px;
          border-color: black;
        }
      }
      &__info{
        width: 600px;
        height: 15%;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        &__left{
          padding-right: 20px;
          &--image{
            height: 50px;
            width: 50px;
            border: solid 1px;
            background-color: skyblue;
          }
        }
        &__right{
          width: calc(100%-70px);
          &__top{
            font-size: 24px;
            font-weight: bold;
            &--title{
              text-decoration: none;
              color: #000000;
            }
          }
          &__bottom{
            width: 100%;
            font-size: 15px;
            color: #000000;
            display: flex;
            justify-content: flex-end;
            &--userName{
              color: #000000;
              margin-right: 10px;
              &--btn{
                text-decoration: none;
                color: #000000;
              }
            }
            &--date{
              color: #000000;
              font-size: 8px;
            }
            &--likes{
              line-height: 10px;
              font-size: 10px;
            }
          }
        }
      }
      &__title{
        font-size: 30px;
        font-weight: bold;
        padding-top: 40px;
        text-align: center;
      }
    }

    //メッセージの詳細画面=====================================
    .postTitle{
      padding-top: 20px;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
    }
    .postDate{
      font-size: 15px;
      color: #999;
      text-align: center;
    }
    .postAuthor{
      font-size: 15px;
      color: #999;
      text-align: center;
    }
    //修正・削除
    .postManage{
      display: flex;
      justify-content: center;
      margin-top: 10px;
      &__edit{
        display: block;
        border-radius: 10px;
        color: #ffffff;
        background-color:#0045c5;
        padding: 0 10px;
        text-decoration: none;
        margin-right: 10px;
      }
      &__delete{
        display: block;
        border-radius: 10px;
        color: #ffffff;
        background-color:#0045c5;
        padding: 0 10px;
        text-decoration: none;
        margin-left: 10px;
      }
    }
    .postImage {
      width: 600px;
      height: 400px;
      background-color: #6088C6;
      border: solid 1px;
      border-color: black;
      display: block;
      margin: 0 auto;
    }
    //いいね
    .fa-thumbs-up {
      text-decoration: none;
      display: inline-block;
    }
    //本文
    .postContent{
      margin: 20px 20px;
      width: calc(100% - 40px);
      background-color: #A8DBA8;
      &__submit{
        display: block;
        font-size: 20px;
      }
    }
    // コメント投稿、一覧
    .container {
      padding: 20px 0;
      .postComment {
        display: flex;
        align-items: center;
        justify-content: space-around;
        // #comment_text{

        // }
      }
      &__comments {
        margin: 20px 10px 0 10px;
        padding: 10px;
        background-color: #A8DBA8;
      }
    }
  }

  //新規投稿、編集========================================
  .form{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    &__title{
      display: block;
      width: 100%;
      height: 50px;
    }
    &__content{
      display: block;
      width: 100%;
      height: 50%;
      margin-top: 15px;
    }
    // &__image {
      // display: none; 
      // cursor: pointer;
    // }
    &__btn{
      display: block;
      width: 30%;
      margin: 15px auto 0;
    }
  }
  .user{
    padding: 15px 30px;
  }

  // 検索フォーム
  .search-form {
    text-align: center;
    padding-top: 8px;
    .search-input {
      width: 80%;
      margin-right: 10px;
    }
  
    .search-btn {
      width: 10%;
    }
  }

  //ページネーション
  .pagination{
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0;
  }
  //ログイン制限
  .not_login {
    text-align: center;
  }
}