.content
  .content__top
    -# %p.content__top--image
      -# %img{:alt => "", :src => "/assets/sample2.png"}/
    = image_tag post.image.url, class: 'content__top--image' if post.image.present?
  .content__info
    .content__info__left
      .content__info__left--image
    .content__info__right
      .content__info__right__top
        = link_to post.title, post_path(post.id), class: "content__info__right__top--title"
      .content__info__right__bottom
        .content__info__right__bottom--userName
          = link_to post.user.nickname, "#", class: "content__info__right__bottom--userName--btn"
        .content__info__right__bottom--date
          = post.created_at
