<% @posts.each do |post| %>
  <div class="content">
    <div class="content__top">
      <p class="content__top--image"></p>
    </div>
    <div class="content__info">
      <div class="content__info__left">
        <div class="content__info__left--image"></div>
      </div>
      <div class="content__info__right">
        <div class="content__info__right__top">
          <%= link_to post.title, post_path(post.id), class: "content__info__right__top--title" %>
        </div>
        <div class="content__info__right__bottom">
          <div class="content__info__right__bottom--userName">
            <%= post.user.nickname %>
          </div>
          <div class="content__info__right__bottom--date">
            <%= post.created_at %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>