
- unless user_signed_in?
  .top-wrapper
    .view
      .view__content#slide
        %p.view__content__title JapanTraveler
        %p.view__content__text 日本には47の都道府県があります。
        %p.view__content__text 色々な都道府県を旅することで
        %p.view__content__text ユニークな体験ができるでしょう。
        %p.view__content__text この素敵な日本を一緒に体感しましょう！
        = link_to "新規登録", new_user_registration_path, class: "btn btn-primary view__content__btn"
        = link_to "ログイン", new_user_session_path, class: "btn btn-primary view__content__btn"
        %p.view__content__text ↓↓↓記事の一覧はこちら↓↓↓
      -# JSでコンテンツ表示
      :javascript
        $(function() {
          $('#slide').fadeIn(800);
          $('#slide').css('display', 'flex');
        });
.contents

  -# 新着順
  - @posts.each do |post|
    = render partial: "post", locals: { post: post }
  = paginate(@posts)

