.contents
  -# いいね数ランキング
  .postTitle ランキング
  - @all_ranks.each.with_index(1) do |post, i|
    .postTitle__content
      第
      = i
      位
      = post.title
      = post.likes_count 
    = render partial: "post", locals: { post: post }
